.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px - 65px);
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  .info {
    text-align: center;
    button {
      height: 60px;
      font-size: 24px
    }
  }
}