.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f2f5;
}

.header {
  height: 50px;
  background-color: #fff;
}

.content-wrapper {
  flex: auto;
  padding: 12px 0;
}

.content {
  display: flex;
  margin: 0 24px;
  height: 100%;

  .left {
    flex: 0 0 auto;
    width: 275px;
    padding: 0 12px;
    /* 启用垂直滚动 */
    overflow-y: auto; 
    /* 考虑到header的高度，这里减去了50px，也可以根据需要进行调整 */
    max-height: calc(100vh - 62px); 
    background-color: #fff;
  }

  .main {
    flex: 1;
    position: relative;
    overflow: hidden;

    .canvas-wrapper{
      position: absolute;

      flex: auto;
      padding: 12px 0;
      /* 允许内容撑开容器 */
      min-height: 0; 

      width: 400px;
      height: 712px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      overflow: auto;
      box-shadow: 0 2 10px rgba(0,0,0,.1);
    }
  }

  .right{
    flex: 0 0 auto;
    width: 280px;
    padding: 0 12px;
    background-color: #fff;
  }
}